#start {
  background: grey;
}

#finish {
  background: red;
  text-align: center;
}




div.messages {
  text-align: center;
  color: red;
}


.muddyPath {
  background-image: url(../assets/mud2.png);
}

body {
  background-image: url(../assets/checkered-pattern-vector.jpg);
}


table {
  text-align: center;
  background-color: grey;
}
