#finish {
  text-align: center;
}

#titleImage {
  text-align: center;
  display: block;
}

div.messages {
  text-align: center;
  color: red;
}

body {
  background-image: url(../assets/backgrounds/cloud_pixel_transparent_background.gif);
}

table{
  text-align: center;
}

/*
.muddyPath {
  background-image: url(../assets/mud2.png);
}

.end {
  background: red;
}
*/
