

#finish {
  text-align: center;
}

.end {
  background: red;
}

div.messages {
  text-align: center;
  color: red;
}

.muddyPath {
  background-image: url(../assets/mud2.png);
}

body {
  background-image: url(../assets/backgrounds/cloud_pixel_transparent_background.gif);
}

table{
  text-align: center;
}
